<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Campfull!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script type="text/javascript" src="/js/mapsjavascript.js"></script>
    <link rel="icon" 
      type="image/png" 
      href="/images/clogo.png">



</head>
<style>
    body
    {

        background-image: url("/images/back.jpg");
        background-size: cover;
        font-family: 'Roboto', sans-serif;
    }


</style>
<body>
<sci>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 10vh;">
    <img src="/images/clogo.png" class="navbar-brand" alt="Camp Out" style="max-height: 10vh;">
    <a href="/" class="nav-link btn btn-outline-secondary">Search</a>
    <a href="/about" class="nav-link btn btn-outline-secondary">About</a>
    <a href="/certified" class="nav-link btn btn-outline-secondary">Get Certified Campground</a>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-2"></div>

        <div class="col-8" style="height: 90vh; background-color: white; overflow-y: scroll;">

            <h1 style="text-align: center;">Campfull</h1>
            <hr>
            <div style="height: 10vh"></div>
            
            <div class="row">
            
                <div class="col-4">
                    <h4 style="text-align: center;">What We Do:</h4>
                    <hr>
                    <p>We build software to help campers find campgrounds, as well as connect campgrounds with
                    prospective campers. It is harder to find a campground than a hotel or vacation rental 
                    due to the lack of a central authority. We gather campground information from around the internet
                     to help people find campgrounds located near their travel destination. Campfull helps campgrounds get discovered 
                     and leads to more bookings.</p>
                
                </div>

                <div class="col-4">
                    <h4 style="text-align: center;">Who We Are:</h4>
                    <hr>
                    <p>We are software developers who have a passion for camping and the great outdoors. We were frustrated 
                    with how difficult and tedious it was to find campgrounds near our travel destinations. Campfull has greatly decreased 
                    the amount of time and frustration we have experienced while researching campgrounds.</p>

                </div>

                <div class="col-4">
                    <h4 style="text-align: center;">Why We Do It:</h4>
                    <hr>
                    <p>We think it should be as easy to find a campground as it is a hotel online. The great outdoors is where 
                    adventures happen and we want to enable these experiences. We do this through making it as easy as 
                    possible to find the campground you have been looking for.</p>

                </div>
            
            </div>

        </div>

    </div>

</div>


</body>
</html>